*, html, body {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.user {
  display: block;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  filter: drop-shadow(5px 5px 5px black);
  -webkit-filter: drop-shadow(5px 5px 5px black);
  margin-left: 75px;
}

.one {
  background-image: url('https://img.freepik.com/free-vector/blue-white-abstract-background-with-wave-abstract-poster-banner_41084-538.jpg?size=626&ext=jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  max-width: 100vw !important;
  min-height: 100vh !important;
  padding: 0rem;
}



@media only screen and (max-width: 600px) {
  .user {
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  .one {
    object-fit: fill;
    width: 100%;
    min-height: 100vh;
  }
}